<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClubeLeituraDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ClubeLeituraDataBase;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
